.container2{
    margin: auto;
}

.forecast-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 12px; 
  
    .forecast-column {
        flex: 1;
    }

    .card{
        box-shadow: 2px 4px 5px 3px rgba(8, 10, 20, 8);
    }
}
.weather-icon {
    display: block;
    margin: 0 auto; 
    width: 80px;
    height: auto;
}

@media screen and (max-width: 1669px) {
    .forecast-grid {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }

    .table {
        font-size: x-small; 
        width: 100%; 
    }

    .table tr,
    .table td {
        padding: 5px;
        text-align: left; 
        border: 1px solid #ccc; 
    }
}





